
.bg-gradient{
  background-color: #000046 !important; /* fallback for old browsers */ 
  background-color: -webkit-linear-gradient(to right, #000046, #1cb5e0) !important; /* Chrome 10-25, Safari 5.1-6 */ 
  background-color: linear-gradient(to right, #000046, #1cb5e0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lead{
  font-size: 1.2rem;
  margin:auto;
  width: 70vh;
}
#search-nutrition{
  height:100%;
}

#amount{
  width:40%;
}
.alert{
  color:white;
  display:inline-block;
  font-size: 1.2rem;
  font-weight:500;
}
.table-responsive{
  display:table !important;
}
@media only screen and (max-width: 770px) {
  .table-responsive{
    display:block !important;
  }
  .lead{
    width:40vh;
  }

  .container{
    margin-top: 0 !important;
  }
}
